<div class="container">
  <h1 class="mt-3">Pipes <small>Angular</small></h1>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Variable</th>
            <th>Pipe</th>
            <th>Salida</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ this.nombre }}</td>
            <td>string | uppercase</td>
            <td>{{ this.nombre | uppercase }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.nombre }}</td>
            <td>string | lowercase</td>
            <td>{{ this.nombre | lowercase }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.nombre }}</td>
            <td>string | slice:3</td>
            <td>{{ this.nombre | slice:3 }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.nombre }}</td>
            <td>string | slice:2:5</td>
            <td>{{ this.nombre | slice:2:5 }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | number</td>
            <td>{{ this.numero | number }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | number:'3.0-0'</td>
            <td>{{ this.numero | number:'3.0-0' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | number:'.0-2'</td>
            <td>{{ this.numero | number:'.0-2' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | percent</td>
            <td>{{ this.numero | percent }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | percent:'2.2-2'</td>
            <td>{{ this.numero | percent:'2.2-2' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | currency</td>
            <td>{{ this.numero | currency }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | currency:'EUR'</td>
            <td>{{ this.numero | currency:'EUR' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | currency:'CAD':'symbol-narrow'</td>
            <td>{{ this.numero | currency:'CAD':'symbol-narrow' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | currency:'CAD':'symbol':'.0-0'</td>
            <td>{{ this.numero | currency:'CAD':'symbol':'.0-0' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.numero }}</td>
            <td>number | currency:'ETH'</td>
            <td>{{ this.numero | currency:'ETH' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.promesa }}</td>
            <td>promise | async</td>
            <td>{{ this.promesa | async }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.fecha }}</td>
            <td>date | date</td>
            <td>{{ this.fecha | date }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.fecha }}</td>
            <td>date | date:'medium'</td>
            <td>{{ this.fecha | date:'medium' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.fecha }}</td>
            <td>date | date:'short'</td>
            <td>{{ this.fecha | date:'short' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.fecha }}</td>
            <td>date | date:'MMMM - dd'</td>
            <td>{{ this.fecha | date:'MMMM - dd' }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.nombre2 }}</td>
            <td>string | capitalizado:true</td>
            <td>{{ this.nombre2 | capitalizado:true }}</td>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ this.passwd }}</td>
            <td>string | password</td>
            <td>{{ this.passwd | password:this.oculto }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary" (click)="this.oculto =! this.oculto">Mostrar Contraseña</button>
      </div>
      <br />
      <h4>Slice</h4>
      <h5>*ngFor="let item of numeros | slice:3:8</h5>
      <h6>Array entero</h6>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item bg-primary text-light me-1 rounded" *ngFor="let item of numeros"> {{ item }}</li>
      </ul>
      <br />
      <h6>Array con slice</h6>
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item bg-primary text-light me-1 rounded" *ngFor="let item of numeros | slice:3:8"> {{ item }}</li>
      </ul>
      <br />
      <h4>JSON</h4>
      <pre>{{ this.heroe | json }}</pre>
      <br />
      <h4>Video YT</h4>
      <iframe width="560" height="315" [src]="videoUrl | domSeguro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
